#
# Copyright (c) 2000-2005 Andrey Valyaev (dron@infosec.ru)
# All rights reserved.
#

ARCH="IA32"

MDF_DEV="$(MDF_ROOT)/Develop"

# -Wunreachable-code Ругается на пустые блочные операторы, дура блин
MDF_WFLAGS="-Wall -Wextra -Winit-self -Wconversion -pedantic"
MDF_WPPFLAGS="-Weffc++ -Woverloaded-virtual -Wctor-dtor-privacy \
	-Wnon-virtual-dtor -Wold-style-cast -Wno-long-long"

MDF_CFLAGS="-march=i486 -mtune=pentium -Os -fomit-frame-pointer \
	$(MDF_WFLAGS) -fno-stack-protector \
	-I$(MDF_DEV)/Include/$(ARCH) -I$(MDF_DEV)/Include"

#CC="clang -m32 -std=c99"
CC="gcc -m32 -std=c99"
CFLAGS="$(MDF_CFLAGS) -nostdinc"

#CXX="clang -m32"
CXX="g++ -m32"
CXXFLAGS="$(CFLAGS) $(MDF_WPPFLAGS) -nostdinc++"

LD="ld -m elf_i386"
LDFLAGS="-nostdlib -Ttext=1100 --entry=ProcessEntry \
	$(MDF_DEV)/Library/Startup.o -L$(MDF_DEV)/Library"

# MDF-Linux flags
#MDF_CFLAGS="-O0 -ggdb -Wall -I$(MDF_DEV)/Include/$(ARCH) -I$(MDF_DEV)/Include
# -L$(MDF_DEV)/Library/$(ARCH) -L$(MDF_DEV)/Library"
#CFLAGS="-std=c99 $(MDF_CFLAGS)"
#CXXFLAGS="$(MDF_CFLAGS) -Weffc++"

# Тестирование производится на имеющейся платформе с имеющимися библиотеками.
#HOST_CC="clang -std=c99"
HOST_CC="gcc -std=c99"
HOST_CFLAGS="$(MDF_WFLAGS) -ggdb3 -O0"
#HOST_CXX="clang"
HOST_CXX="g++"
HOST_CXXFLAGS="$(HOST_CFLAGS) $(MDF_WPPFLAGS)"

# MAKE Автоматически генерируется - любое значение здесь - забьет автоматическое
MAKEFLAGS="-s"
#MAKEFLAGS=""

NM="nm"
STRIP="strip"
MKDIR="mkdir"
ECHO="echo"
CP="cp"
CHMOD="chmod"
AR="ar"
RANLIB="ranlib"
SYMLINK="ln -s"

AS="as"
ASFLAGS="--32 --fatal-warnings"
