#
# Copyright (c) 2000-2005 Andrey Valyaev (dron@infosec.ru)
# All rights reserved.
#

ARCH="IA32"

MDF_DEV="$(MDF_ROOT)/Develop"

# -Wsign-conversion - Ругается почем зря на самые тривиальные места, вычистил и выбросил опцию.
# -Wconversion TODO
# -Wunreachable-code TODO
# -pedantic TODO
MDF_WFLAGS="-Wall -Wextra -Winit-self"
MDF_WPPFLAGS="-Weffc++ -Woverloaded-virtual -Wctor-dtor-privacy \
	-Wnon-virtual-dtor -Wold-style-cast"

MDF_CFLAGS="-march=i386 -mtune=pentium -Os -fomit-frame-pointer \
	$(MDF_WFLAGS) -fno-stack-protector -fno-builtin -fno-exceptions \
	-I$(MDF_DEV)/Include/$(ARCH) -I$(MDF_DEV)/Include"

CC="gcc -m32"
CFLAGS="-std=c99 $(MDF_CFLAGS) \
	-nostdinc -nostdlib -nostartfiles -nodefaultlibs \
	-L$(MDF_DEV)/Library/$(ARCH) -L$(MDF_DEV)/Library"

CXX="g++ -m32"
CXXFLAGS="$(MDF_CFLAGS) $(MDF_WPPFLAGS) -nostdinc++ \
	-nostdinc -nostdlib -nostartfiles -nodefaultlibs \
	-L$(MDF_DEV)/Library/$(ARCH) -L$(MDF_DEV)/Library"

LD="ld -m elf_i386"
LDFLAGS="-nostdlib -Ttext=1100 --entry=ProcessEntry \
	$(MDF_DEV)/Library/Startup.o -L$(MDF_DEV)/Library"

# MDF-Linux flags
#MDF_CFLAGS="-O0 -ggdb -Wall -I$(MDF_DEV)/Include/$(ARCH) -I$(MDF_DEV)/Include
# -L$(MDF_DEV)/Library/$(ARCH) -L$(MDF_DEV)/Library"
#CFLAGS="-std=c99 $(MDF_CFLAGS)"
#CXXFLAGS="$(MDF_CFLAGS) -Weffc++"

# Эти переменные определяют компилятор и флаги для сборки тестовых
# модулей. тестовые модули должны выполняться на билдовой платформе!
# Это не работает с чисто стандартными модулями... они тянут наш stdinc :(
TEST_CC="gcc"
TEST_CFLAGS="-std=c99 $(MDF_CFLAGS) -ggdb -O0"

# Тестирование производится на имеющейся платформе с имеющимися библиотеками.
HOST_CC="gcc"
HOST_CFLAGS="$(MDF_WFLAGS) -ggdb3 -O0 -std=c99"
HOST_CXX="g++"
HOST_CXXFLAGS="$(MDF_WFLAGS) $(MDF_WPPFLAGS) -ggdb3 -O0"

# MAKE Автоматически генерируется - любое значение здесь - забьет автоматическое
MAKEFLAGS="-s"
#MAKEFLAGS=""

NM="nm"
STRIP="strip"
MKDIR="mkdir"
ECHO="echo"
CP="cp"
CHMOD="chmod"
AR="ar"
RANLIB="ranlib"
SYMLINK="ln -s"

ASM="yasm"
ASMFLAGS="-felf -Wno-unrecognized-char -Worphan-labels -gstabs"
#ASM="nasm"
#ASMFLAGS="-felf -O3 -w+macro-params -w+macro-selfref -w+orphan-labels -w+gnu-elf-extensions"

AS="as"
ASFLAGS="--32 --fatal-warnings"
